<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.peco.mapper.AdminBoardMapper">

	<select id="getList" resultType="com.peco.vo.BoardVO">
		SELECT BNO, M.ID,M.M_ID, NICKNAME, TITLE, CONTENT
		FROM board B
		JOIN Member M ON B.M_ID = M.M_ID
	</select>
	
	<delete id="delete">
	delete from board where bno = #{bno}
	</delete>
	
	<select id="getTotalCnt" resultType="int">
	SELECT COUNT(*) 
	FROM board
	WHERE 1=1
	<include refid="criteria"></include>
	</select>
	
	
	<sql id="criteria">
	 	<choose>
	 		<when test="searchField == 'title'">
	 			and title like '%' || #{searchWord} || '%'
	 		</when>
	 		<when test="searchField == 'content'">
	 			and content like '%' || #{searchWord} || '%'
	 		</when>
	 		<when test="searchField == 'writer'">
	 			and writer like '%' || #{searchWord} || '%'
	 		</when>
	 	</choose>
	 </sql>
	
	
	
</mapper>