<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.peco.mapper.AdminPensionMapper">

	<select id="getPensionList" resultType="com.peco.vo.PensionVO">
		select * from pension where checkyn = 'N'
	</select>
	
	<select id="totalCnt" resultType="int">
		select count(*)
		  from pension
		 where checkyn = 'N'
	</select>
	
	<update id="update">
		update pension
		   set checkyn = 'Y'
		 where p_id= #{p_id}
	</update>
	
</mapper>