<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.peco.mapper.FileuploadMapper">
	
	<insert id="insertProfile">
		insert into F_img (uploadpath, filename, filetype, m_id, uuid)
				values (#{uploadpath},#{filename},#{filetype},#{m_id},#{uuid})
	</insert>
	
	<insert id="insertPensionfile">
		insert into P_img (pi_id, p_id, uploadpath, filename, filetype, fileroom)
				values ('pi_'||SEQ_PI_ID_NUM.nextval,#{p_id},#{uploadpath},#{filename},#{filetype},#{fileroom})
	</insert>
	
	<insert id="insertBusinessfile">
		insert into R_img (ri_id, p_id, uploadpath, filename, filetype)
				values ('ri_'||SEQ_RI_ID_NUM.nextval,#{p_id},#{uploadpath},#{filename},#{filetype})
	</insert>
	
	<select id="getList" resultType="com.peco.vo.FileuploadVO">
		SELECT t.*,
		      uploadpath || uuid || '_' || filename AS savePath,
		DECODE(filetype, 'I', uploadpath || 's_' || uuid || '_' || filename, 'NO_image') AS s_savePath
		FROM b_img t
		WHERE bno = #{bno}
	</select>
		
		<select id="getProfile" resultType="com.peco.vo.FileuploadVO">
		SELECT t.*,
		      uploadpath || m_id || filename AS savePath,
		     DECODE(filetype, 'I', uploadpath || 's_' || m_id || filename, 'NO_image') AS s_savePath
		FROM F_img t
		WHERE m_id = #{m_id}
	</select>
		
		
		<insert id="insert">
		insert into b_img (UUID, UPLOADPATH, FILENAME, FILETYPE, BNO,FNO) 
		values (#{uuid},#{uploadpath},#{filename},#{filetype},#{bno},('f_' || LPAD(seq_file.NEXTVAL, 5, '0')))
		</insert>

		<!-- 쿼리문에서 #{}변수를 두개이상 받아야할 경우엔 무조건 @Param 이용해야함 -->
		<delete id="delete_Img">
		delete
		from F_Img
		where m_id=#{m_id}
		and	uuid=#{uuid}
		
		</delete>

		<!-- 쿼리문에서 #{}변수를 두개이상 받아야할 경우엔 무조건 @Param 이용해야함 -->
		<delete id="delete">
		delete
		from b_img
		where bno=#{bno}
		and	uuid=#{uuid}
		
		</delete>

		<select id="getOne" resultType="com.peco.vo.FileuploadVO">
		SELECT t.*,
		      'c:\upload\' || uploadpath || uuid || '_' || filename AS savePath,
		DECODE(filetype, 'I', 'c:\upload\' || uploadpath || 's_' || uuid || '_' || filename, 'NO_image') AS s_savePath
		FROM b_img t
		WHERE bno = #{bno}
		AND uuid = #{uuid}
		</select>
		
		<select id="getPath" resultType="com.peco.vo.FileuploadVO">
		SELECT t.*,
		      uploadpath || uuid || '_' || filename AS savePath,
		DECODE(filetype, 'I', uploadpath || 's_' || uuid || '_' || filename, 'NO_image') AS s_savePath
		FROM b_img t
		WHERE bno = #{bno}
		</select>
	
</mapper>