<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.peco.mapper.HospitalMapper">
	<select id="getOne" resultType="com.peco.vo.HospitalVO">
		select * from hospital where h_id = #{h_id}
	</select>
	
	<select id="starAvg" resultType="int">
		
		select round(avg(star)) from h_review where h_id = #{h_id}
	</select>	
</mapper>