<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.peco.mapper.HospitalMapper">

		<select id="getOne" resultType="com.peco.vo.HospitalVO"> 
		select * from hospital where h_id = #{h_id} 
		</select>
		
	<select id="getHospitalImg" resultType="com.peco.vo.HospitalFileuploadVO">
			select t.*
		        , uploadpath||h_id||filename savePath
        		, decode(filetype, 'I'
                			,uploadpath||'s_'||h_id||'_'||filename
                			,'') s_savePath 
		  from h_img t
          where h_id = #{h_id}
	</select>
		
	<select id="starAvg" resultType="int">
		SELECT COALESCE(ROUND(AVG(star)), 0) FROM h_review where h_id = #{h_id}
	</select>	
		
		<select id="mapList" resultType="com.peco.vo.HospitalVO">
            select * from              
            (select t.*, rownum rn from(select h.h_id, pname, addr, openhour, substr(parkyn,-2) ParkYN , star, cnt, savePath              
            from hospital h               
            LEFT JOIN     
            (select h_id, round(avg(star)) star, count(review) cnt from h_review group by h_id) r              
            ON h.h_id = r.h_id                           
            left join                            
            (select h_id, uploadpath||h_id||filename savePath from h_img) s              
            ON h.h_id = s.h_id where 1=1 and savePath is not null     
			<if test="megaregion!=null">
				and addr like  '%'||#{megaregion}||'%'
			</if>
			
			<if test="smallregion!=null">		 
				and addr like  '%'||#{smallregion}||'%' 
			</if>
             ) t ) 
		</select>
		
		<insert id="hospitalInsert"> 
		insert into hospital(h_id, M_ID, PNAME, ADDR, OPENHOUR, PARKYN) 
		values('h'||'_'||hospital_seq.nextval, 'm_2', #{pname}, #{addr}, #{openhour}, #{parkyn}) 
		</insert>
		

		<select id="hospitalList" resultType="com.peco.vo.HospitalVO">
            select * from              
            (select t.*, rownum rn from(select h.h_id, pname, addr, substr(openhour,1, 30) openhour, substr(parkyn,-2) ParkYN , nvl(star,0) star, nvl(cnt,0) cnt, savePath              
            from hospital h               
            LEFT JOIN     
            (select h_id, round(avg(star)) star, count(review) cnt from h_review group by h_id) r              
            ON h.h_id = r.h_id                           
            left join                            
            (select h_id, uploadpath||h_id||filename savePath from h_img) s              
            ON h.h_id = s.h_id where 1=1 and savePath is not null                             
			<if test="megaregion!=null">
				and addr like  '%'||#{megaregion}||'%'
			</if>
			
			<if test="smallregion!=null">		 
				and addr like  '%'||#{smallregion}||'%' 
			</if>
			<include refid="sortsql"></include>
             ) t ) where rn between #{startNo} and #{endNo}
		</select>
		
		<select id="totalCnt" resultType="int">
		select count(*) from hospital where 1=1

		</select>
		
		<update id ="update_H">
			update hospital 
				set pname = #{pname},
				addr = #{addr},
				openhour = #{openhour},
				parkyn = #{parkyn},
				checkyn = #{checkyn},
				homepage = #{homepage},
				phone = #{phone}
				where m_id = #{m_id}
		</update>

		<select id="getOne_H" resultType="com.peco.vo.HospitalVO"> 
		select * from hospital where m_id = #{m_id} 
		</select>
		
		<select id="hospitaltop" resultType="com.peco.vo.HospitalVO"> 
		select * from( select t.*, rownum rn from
		( select h.h_id, pname, addr, star, cnt from hospital h LEFT JOIN
		( select h_id, round(avg(star)) star, count(*) cnt from h_review group by h_id) r ON h.h_id = r.h_id WHERE r.star IS NOT NULL order by r.star desc, cnt desc)t ) 
		where rn between 1 and 10 
		</select>
		
		<select id="totalCount" resultType="int">
            select count(*) from              
            (select t.*, rownum rn from(select h.h_id, pname, addr, openhour, substr(parkyn,-2) ParkYN , star, cnt, savePath              
            from hospital h               
            LEFT JOIN     
            (select h_id, round(avg(star)) star, count(review) cnt from h_review group by h_id) r              
            ON h.h_id = r.h_id                           
            left join                            
            (select h_id, uploadpath||h_id||filename savePath from h_img) s              
            ON h.h_id = s.h_id where 1=1 and savePath is not null                             
			<if test="megaregion!=null">
				and addr like  '%'||#{megaregion}||'%'
			</if>
			
			<if test="smallregion!=null">		 
				and addr like  '%'||#{smallregion}||'%' 
			</if>
             ) t ) 
		</select>
	<sql id="sortsql">
		<choose>
			<when test="sort == 'cnt'">
				order by cnt desc, star desc
			</when>
			<when test="sort == 'star'">
				order by star desc, cnt desc
			</when>
			<when test="sort == 'max'">
				order by max desc
			</when>
			<when test="sort == 'min'">
				order by min asc
			</when>

		</choose>
	</sql>
</mapper>