<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- mapper의 namespace속성은 연결할 mapper의 interface 풀 경로로 작성  -->
<mapper namespace="com.peco.mapper.ResMapper">

   <select id="getMemberList" resultType="com.peco.vo.MemberVO">
   select mname, email, mphone, m_id from member
	where m_id = #{m_id}
   </select>
   
   <select id="getPensionList" resultType="com.peco.vo.PensionVO">
   select pname, roomname, price, pension.p_id
	from pension left outer join p_room
	on pension.p_id = p_room.p_id
	where pension.p_id = #{p_id} and room_no = #{room_no}
   </select>
   
   <select id="getPensionDisableDate" resultType="com.peco.vo.P_RESVO">
	select STARTDATE, ENDDATE
   	from p_res left join p_room
    on p_res.p_id = p_room.p_id
	where p_res.p_id = #{p_id} and room_no = #{room_no}
   </select>
   
   <select id="getResPensionList" resultType="com.peco.vo.P_RESVO">
    select p.imp_uid, p.startdate, p.enddate, p.pr_name, p.pr_email, p.pr_tel, p.roomname, p.pname, p.pricecnt, p.p_id
            , pi.uploadpath || pi.p_id || pi.filename AS savePath
	from p_res p
    LEFT JOIN member m ON p.m_id = m.m_id
    LEFT JOIN p_img pi ON pi.p_id = p.p_id
	where m.m_id = #{m_id}
   </select>
   
   <insert id="insertResvationPension">
   insert into P_RES (PR_ID, STARTDATE, ENDDATE, PR_PAY, PERIOD
                  , P_ID, PRICECNT, PR_NAME, PR_EMAIL, PR_TEL, IMP_UID, M_ID, PNAME, ROOMNAME)
             values (#{pr_id}, #{startdate}, #{enddate}, #{pr_pay}, #{period}
             , #{p_id}, #{pricecnt}, #{pr_name}, #{pr_email}, #{pr_tel}, #{imp_uid}, #{m_id}
             , #{pname}, #{roomname})
   </insert>
   
   <delete id="deleteResPension">
		delete P_RES where IMP_UID=#{imp_uid}
   </delete>
   
   <select id="getPesionImg" resultType="com.peco.vo.PensionFiileuploadVO">
			select t.*
		        , uploadpath||p_id||filename savePath
        		, decode(filetype, 'I'
                			,uploadpath||'s_'||p_id||'_'||filename
                			,'') s_savePath 
		  from p_img t
          where p_id = #{p_id}
	</select>
   
   <select id="getHospitalList" resultType="com.peco.vo.HospitalVO">
   		select pname, h_id, addr, openhour, parkyn, homepage, phone from hospital
   		where h_id = #{h_id}
   </select>
   
   <select id="getHospitalDisableDate" resultType="com.peco.vo.H_RESVO">
   		select hr_date, hr_time from h_res
   		where h_id = #{h_id}
   </select>
   
   <select id="getResHospitalList" resultType="com.peco.vo.H_RESVO">
	   	select imp_uid, hr_date, hr_time, hr_name, hr_email, hr_tel, hname, pricecnt, h_id
		from h_res
		where m_id = #{m_id}
   </select>
   
   <insert id="insertResvationHospital">
	   insert into H_RES (HR_ID, HR_DATE, HR_TIME, HR_PAY, H_ID, HNAME
	                  , PRICECNT, HR_NAME, HR_EMAIL, HR_TEL, IMP_UID, M_ID)
	             values (#{hr_id}, #{hr_date}, #{hr_time}, #{hr_pay}, #{h_id}
	             , #{hname}, #{pricecnt}, #{hr_name}, #{hr_email}, #{hr_tel}
	             , #{imp_uid}, #{m_id})
   </insert>
   
   <delete id="deleteResHospital">
		delete H_RES where IMP_UID=#{imp_uid}
   </delete>
   
     <select id="getHospitalImg" resultType="com.peco.vo.HospitalFileuploadVO">
		select t.*
	        , uploadpath||h_id||filename savePath
       		, decode(filetype, 'I'
               			,uploadpath||'s_'||h_id||'_'||filename
               			,'') s_savePath 
	  from h_img t
         where h_id = #{h_id}
	</select>
   
</mapper>